<% layout('layouts/boilerplate') %>
<!-- <h1>Edit Campground</h1>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method ="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%=campground.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%=campground.location %>">
        </div>
        <button>Update Campground</button>
    </form>
    <a href="/campgrounds/<% campground._id %> ">Back to Campground</a> -->

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%=campground._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          class="form-control"
          name="campground[title]"
          value="<%=campground.title %>"
          required
        >
        <div class="valid-feedback">Looks Nice</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          id="location"
          class="form-control"
          name="campground[location]"
          value="<%=campground.location %>"
          required
        >
        <div class="valid-feedback">Looks Nice</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="campground[price]"
            value="<%=campground.price %>"
            required
          >
          <div class="valid-feedback">Looks Nice</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description Url</label>
        <textarea
          type="text"
          id="description"
          class="form-control"
          name="campground[description]"
          required
        >
        <%= campground.description%></textarea
        >
        <div class="valid-feedback">Looks Nice</div>
      </div>
      <div class="mb-3">
        <div class="form-label">
          <input
            type="file"
            class="form-control"
            id="customFile"
            name="image"
            multiple
          >
          <label class="form-label" for="customFile"> </label>
        </div>
      </div>
      <div class="mb-3">
        <% campground.images.forEach(function(img, i) {%>
        <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="image-<%=i%>"
            name="deleteImages[]"
            value="<%=img.filename%>"
          >
          <label  class="form-check-label" for="image-<%=i%>">Delete?</label>
        </div>
        <%}) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<% campground._id %> ">Back to Campground</a>
  </div>
</div>
